@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  line-height: 1.2rem !important;
  font-family: 'Poppins', sans-serif !important;
}

h1,
h2,h3,h4,h5,h6,p {
  margin-bottom: 0rem !important;
}

.hero {
  background-image: linear-gradient(to left, rgba(15, 15, 15, 0.726), rgba(4, 17, 51, 0.726)), url('../images/login-bg.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

a:hover {
  text-decoration: none;

}

.link-custom {
  color: #3498DB;
}

.card-login {
  padding: 2.6rem 2.2rem;
  position: relative;
  color: white;
  background: rgba(255, 255, 255, 0.199);
  box-shadow: 0 8px 32px 0 rgba(20, 20, 20, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-reg {
  padding: 2rem 2.2rem;
  position: relative;
  color: white;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  max-width: 480px;
}

.invalid-feedback {
  color: #ffffff !important;
}

.is-invalid {
  border-color: #ff5722 !important;
}

.custom-link {
 color: white;
}

.custom-link:hover {
 text-decoration: none;
 color: #e0e0e0;
}

.nav {
  width: calc(100% - 220px);
  background: rgb(255, 255, 255);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  height: 5rem;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

.nav-container {
  margin-left: 265px;
  margin-top: 1.2rem;
}
.zdefault {
  z-index: 0 !important;
}

.user-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 4.2rem;
  margin-top: 1.1rem;
  display: inline-block;
}

.custom-form {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px;
}

.logo-shadow {
  filter: drop-shadow(10px 5px 10px rgba(14, 37, 63, 0.514));
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #2c52cf, #3b67c4);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 400ms;
  display: flex;
  flex-direction: column;
}

.submenu {
  background: #1532947a;
}

.sidenav a {
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  display: block;
  transition: all 250ms;
  padding: 20px 30px;
  /* margin-top: .5rem; */
}

.active-submenu {
  position: relative;
  background: #8080807a;
  transition: all 500ms;
}

.sidenav a:hover {
  color: #dadada;
  background: #a7a7a756;
  text-decoration: none;
}

.element-container {
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: 1rem;
  
}

.element {
  position: absolute;
  margin-top: 6.3%;
}

.active {
  position: relative;
  background: #c0c0c07a;
  transition: all 500ms;
}

.active::after {
  content: "";
  top: 45%;
  right: 5%;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background: #fdfdfd;
  box-shadow: 2px 2px 10px #15614494;
  height: 10px;
}

.active-management {
  position: relative;
  height: 70px;
  background: rgba(196, 196, 196, 0.7);
}


.mr-negative {
  margin-top: -6.4px;
}

.main {
  margin-left: 245px;
  padding: 0px 10px;
  margin-top: 6rem;
}

.card-shadow {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.page-item.active .page-link {
  background-color: #3498DB !important;
  border-color: #3498DB !important;
}

.cursor-pointer {
  cursor: pointer;
}

.ml-6 {
  margin-left: 4rem;
}

.bd-callout-primary {
  border-left-color: #007bff !important;
  border-left-width: .35rem !important;
}

.bd-callout-success {
  border-left-color: rgb(9, 172, 90) !important;
  border-left-width: .35rem !important;
}

.bd-callout-secondary {
  border-left-color: rgb(240, 173, 78) !important;
  border-left-width: .35rem !important;
}

.bd-callout-danger {
  border-left-color: rgb(206, 78, 78) !important;
  border-left-width: .35rem !important;
}

.card-icon {
  position: absolute;
  top: 20%;
  right: 5%;
}

.fa-card {
  color: rgba(0, 0, 0, 0.5);
}

.loading {
  position: absolute; left: 45%; margin-top: 2%;
}

.card-link {
  color: #000;
}

.card-link:hover {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

/** SCROLLBAR */

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(219, 219, 219) !important; 
  border-radius: 0px !important;
}
 
::-webkit-scrollbar-thumb {
  background: #3279c9 !important; 
  border-radius: 0px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f59ce !important; 
}

@media only screen and (max-width: 900px) {
  html {
    font-size: .93rem;
  }

  .nav {
    width: calc(100% - 80px);
  }

  .sidenav {
    width: 80px;
  }

  .main {
    margin-left: 85px;
  }
  
  .nav-container {
    margin-left: 125px;
  }

  .sidenav a i {
    color: white;
    font-size: 1.2rem;
    margin-top: 15px;
  }

  .sidenav a { 
    color: rgba(255, 255, 255, 0);
  }

  .sidenav a:hover {
    color: transparent;
  }

  svg {
    height: 70px;
  }

  .active::after {
    content: "";
    top: 80%;
    left: 50%;
    width: 20px;
    transform: translate(-30%, -50%);
    border-radius: 0 !important;
    position: absolute;
    background: #38fab0;
    box-shadow: 2px 2px 10px #15614494;
    height: 4px;
  }
}


