<template>
  <div>
   <div class="hero">
    <div class="container h-100">
     <div class="row h-100 justify-content-center align-items-center">
      <div class="card-login">
       <h3 class="card-title">Login</h3>
       <p class="pb-4"><small>Please enter your credentials to login</small></p>
       <form>
         <div class="form-group">
          <label for="">Email</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-primary"><i class="fa fa-user text-light" aria-hidden="true"></i></button>
            </div>
            <input type="email" class="form-control form-control-custom" :class="emailValid ? '' : 'is-invalid' " v-model="data.email" aria-label="email" aria-describedby="email address input">
             <div id="emailValidation" class="invalid-feedback text-info">
               Invalid email address
             </div>
          </div>
         </div>
         <div class="form-group pb-4">
          <label for="">Password</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <button class="btn btn-primary"><i class="fa fa-lock" aria-hidden="true"></i></button>
            </div>
            <input type="password" class="form-control form-control-custom" :class="passValid ? '' : 'is-invalid' " v-model="data.password" aria-label="password" aria-describedby="password input">
            <div id="emailValidation" class="invalid-feedback text-info">
               Password Incorrect
             </div>
          </div>
          <router-link to="/register" class="custom-link">
             <small>Create Account</small>
           </router-link>
         </div>
         <div class="d-flex justify-content-end">
          <button type="submit" v-on:click="login" class="btn btn-primary" :disabled="isLoading">Login 
            <i class="fa fa-sign-in" aria-hidden="true" v-if="!isLoading"></i>
            <div class="spinner-border text-light spinner-border-sm" role="status" v-if="isLoading">
              
            </div>
          </button>
         </div>
       </form>
      </div>
     </div>
    </div>
   </div>
  </div>
</template>
<script>
import {mapActions} from 'vuex';

export default {
  data(){
    return {
      data: {
        email: '', password: ''
      },
      isValidated: false,
      isLoading: false,
      emailValid: true,
      passValid: true,
    }
  },
  mounted() {
    document.title = 'Welcome, Please Login'
  },
  methods: {
    ...mapActions('auth', ['loginAccount']),
    async login(){
      if(!this.isEmail()) return this.emailValid = false
      this.isLoading = true
      const res = await this.loginAccount(this.data);
      if(res.status == 200){
        this.emailValid = true
        this.passValid = true
        this.$router.push('/manage/dashboard')
      }
      else {
        this.$toast.error('Account is either invalid or pending')
        this.passValid = false
        this.emailValid = false
      }
      this.isLoading = false

    },
    isEmail(){
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
      let isEmail = regEx.test(this.data.email)
      return isEmail
    },
  }
}
</script>
<style scoped>
.form-control {
  border: 0px solid #000 !important;
}

.form-control-custom {
  color: #000 !important;
  background: rgba(248, 248, 248, 0.904) !important;
}
</style>