<template>
  <div>
   <div class="hero">
    <div class="container h-100">
     <div class="row h-100 justify-content-center align-items-center">
      <div class="card-reg">
       <h4 class="card-title pb-3 text-center"> Register Account</h4>
       <form>
         <div class="row">
          <div class="col">
              <div class="form-group">
                <label for="">First Name</label>
                  <input type="text" class="form-control" v-model="data.fname" aria-label="text" aria-describedby="firstname">
              </div>
           </div>
           <div class="col">
             <div class="form-group">
                <label for="">Middle Name</label>
                <input type="text" class="form-control" v-model="data.mname" aria-label="mname" aria-describedby="middle name input">
              </div>
           </div>
         </div>
         <div class="row">
          <div class="col">
              <div class="form-group">
                <label for="">Last Name</label>
                  <input type="text" class="form-control" v-model="data.lname" aria-label="text" aria-describedby="firstname">
              </div>
           </div>
           <div class="col">
             <div class="form-group">
                <label for="customSelect">Gender</label>
                <select id="customSelect" v-model="data.gender" name="gender" class="custom-select">
                  <option selected disabled>Please select your gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
           </div>
         </div>
         <div class="row">
          <div class="col">
              <div class="form-group">
                <label for="">Contact Number</label>
                  <input type="text" class="form-control" v-model="data.contact_number" aria-label="text" aria-describedby="firstname">
              </div>
           </div>
         </div>
         <div class="row">
          <div class="col">
              <div class="form-group">
                <label for="">Email</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text "><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <input type="email" class="form-control" :class="emailValid ? '' : 'is-invalid' " v-model="data.email" aria-label="email" aria-describedby="email address input">
                    <div id="emailValidation" class="invalid-feedback">
                      Invalid email address
                    </div>
                  </div>
                  <router-link to="/" class="custom-link">
                    <small>Login Account</small>
                  </router-link>
              </div>
           </div>
           <div class="col">
             <div class="form-group pb-2">
                <label for="">Password</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text "><i class="fa fa-lock" aria-hidden="true"></i></span>
                  </div>
                  <input type="password" class="form-control" :class="passValid ? '' : 'is-invalid' " v-model="data.password" aria-label="password" aria-describedby="password input">
                  <div id="emailValidation" class="invalid-feedback">
                    Password Incorrect
                  </div>
                </div>
              </div>
           </div>
         </div>
         
         <div class="d-flex justify-content-end">
          <button type="submit" v-on:click="createAccount" class="btn btn-sm btn-primary" :disabled="isLoading">Register <i class="fa fa-sign-in" aria-hidden="true"></i></button>
         </div>
       </form>
      </div>
     </div>
    </div>
   </div>
  </div>
</template>
<script>
import {mapActions} from 'vuex';

export default {
  data(){
    return {
      data: {
        email: '', password: '', fname: '', mname: '', lname: '', contact_number: '', gender: ''
      },
      isValidated: false,
      isLoading: false,
      emailValid: true,
      passValid: true,
    }
  },
  mounted() {
    document.title = 'Welcome, Please Login'
  },
  methods: {
    ...mapActions('auth', ['signUpAccount']),
    async createAccount(){
      if(!this.isEmail()) return this.emailValid = false
      this.isLoading = true
      const res = await this.signUpAccount(this.data);
      if(res.status == 200){  
        this.emailValid = true
        this.$toast.success('Account created successfully')
        this.$router.push('/')
      }
      else {
        this.showError(res.data)
        this.passValid = false
        this.emailValid = false
      }
      this.isLoading = false

    },
    isEmail(){
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
      let isEmail = regEx.test(this.data.email)
      return isEmail
    },
    showError(data){
      for (const key of Object.keys(data)) {
        window.setInterval( this.$toast.error(data[key][0]), 1000); 
      }
    }
  }
}
</script>
<style scoped>
.form-control {
  border: 0px solid #000 !important;
}
</style>