.hero {
 background-image: linear-gradient(to left, #000, #fff), url('../images/login-bg.jpg');
 background-position: center;
 background-size: cover;
 width: 50%;
 height: 100vh;
 position: relative;
}