.hero {
  background-image: linear-gradient(to left, #000, #fff), url('../images/login-bg.jpg');
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(219, 219, 219); 
  border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
  background: #3279c9; 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f59ce; 
}