<template>
  <div>
    <div class="nav">
      <div class="d-flex align-items-center">
        <img src="/images/user.png" height="38" class="pl-4" />
        <div class="d-flex flex-column pl-1">
          <h6 class="">Welcome, {{user.fname}} {{user.lname}}!</h6>
          <p><small>{{user.email}}</small></p>
        </div>
      </div>
      <a href=""  class="link-custom pr-2" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out text-primary mr-2" aria-hidden="true"></i>Log-out</a>
   </div>

   <!-- Logout Modal -->
   <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="Logout user Modal" data-keyboard="false" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered ">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="Logout Confirmation">Confirm Logout</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           Are you sure you want to log-out?
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button type="button" v-on:click.prevent="logout"  class="btn btn-primary" data-dismiss="modal">Logout</button>
         </div>
       </div>
     </div>
   </div>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
export default {
  mounted(){
    this.checkAuth();

  },
  computed: {
    ...mapState("auth", ["user"]),
  },
  methods: {
   ...mapActions('auth', ['logoutUser', 'checkUser']),

   async logout(){
     const res = await this.logoutUser()
     if(res.status == 200){
      this.$router.push('/')
     }
   },
   async checkAuth() {
     await this.checkUser()
  }
  }
}
</script>