<template>
  <div class="sidenav" id="app">
    <svg class="logo-shadow" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 1000 800" enable-background="new 0 0 1000 800" xml:space="preserve">
    <g id="XMLID_106_">
      <path id="XMLID_78_" fill="#29A9E0" d="M751.95,362.98v46.83c0,0-142.38-6.56-236.98,102.1
        C514.97,511.91,568.36,385.46,751.95,362.98z"/>
      <path id="XMLID_79_" fill="#1F76BA" d="M728.23,330.64l6.69,46.35c0,0-141.85,13.86-219.96,134.92
        C514.97,511.91,549.74,379.13,728.23,330.64z"/>
      <path id="XMLID_84_" fill="#2A3D8E" d="M700.14,302.03l13.25,44.92c0,0-138.42,33.98-198.42,164.96
        C514.97,511.91,530.41,375.52,700.14,302.03z"/>
      <path id="XMLID_87_" fill="#272660" d="M668.25,277.72l19.53,42.57c0,0-132.14,53.42-172.81,191.63
        C514.97,511.91,510.76,374.71,668.25,277.72z"/>
      <path id="XMLID_105_" fill="#29A9E0" d="M248.05,362.98v46.83c0,0,142.38-6.56,236.98,102.1
        C485.03,511.91,431.64,385.46,248.05,362.98z"/>
      <path id="XMLID_104_" fill="#1F76BA" d="M271.77,330.64L265.07,377c0,0,141.85,13.86,219.96,134.92
        C485.03,511.91,450.26,379.13,271.77,330.64z"/>
      <path id="XMLID_103_" fill="#2A3D8E" d="M299.86,302.03l-13.25,44.92c0,0,138.42,33.98,198.42,164.96
        C485.03,511.91,469.59,375.52,299.86,302.03z"/>
      <path id="XMLID_91_" fill="#272660" d="M331.75,277.72l-19.53,42.57c0,0,132.14,53.42,172.81,191.63
        C485.03,511.91,489.24,374.71,331.75,277.72z"/>
      <path id="XMLID_109_" fill="#29A9E0" d="M501.85,529.4c-15.31,0-28.31-9.64-33.06-23.07c-0.02,0.4-0.03,0.81-0.03,1.21
        c0,17.93,14.82,32.47,33.1,32.47c18.28,0,33.1-14.54,33.1-32.47c0-0.41-0.02-0.81-0.03-1.21
        C530.16,519.75,517.16,529.4,501.85,529.4z"/>
    </g>
    </svg>
    <router-link to="/manage/dashboard" :class="getRoute == '/manage/dashboard' ? 'active' : ''"><i class="fa fa-pie-chart mr-2" aria-hidden="true"></i> Dashboard</router-link>
    <router-link to="/manage/books" :class="getRoute == '/manage/books' ? 'active' : ''"><i class="fa fa-book mr-2" aria-hidden="true"></i> Books</router-link>
    <a href="#" v-b-toggle.sub-menu  class="" :class="getRoute == '/manage/borrowed' ? 'active' : '' || getRoute == '/manage/returned' ? 'active': ''">
      <i class="fa fa-history mr-2" aria-hidden="true"></i> Records 
    </a>
    <b-collapse id="sub-menu" visible accordion="my-accordion" role="tabpanel">
        <router-link to="/manage/borrowed" class="submenu" :class="getRoute == '/manage/borrowed' ? 'active-submenu' : ''">
          <i class="fa fa-reply mr-2" aria-hidden="true"></i>
           Borrowed Books
        </router-link>
        <router-link to="/manage/returned" class="submenu" :class="getRoute == '/manage/returned' ? 'active-submenu' : ''">
          <i class="fa fa-check" aria-hidden="true"></i>
          Returned Books
        </router-link>
    </b-collapse>
   
    <router-link to="/manage/librarian" v-if="user.type == 'Admin'" :class="getRoute == '/manage/librarian' ? 'active' : ''"><i class="fa fa-quote-left mr-2" aria-hidden="true"></i> Librarian</router-link>
    <router-link to="/manage/patron" :class="getRoute == '/manage/patron' ? 'active' : ''"><i class="fa fa-users mr-2" aria-hidden="true"></i> Patron</router-link>
    <router-link to="/manage/settings" :class="getRoute == '/manage/settings' ? 'active' : ''"><i class="fa fa-wrench mr-2" aria-hidden="true"></i> Settings</router-link>
  </div>
</template>
<script>
import {mapState} from 'vuex'
export default {
  data() {
    return {
      data: "",
    };
  },
  mounted() {

  },
  methods: {

  },
  computed: {
    ...mapState("auth", ["user"]),
    getRoute: function(){
      return this.$route.path
    }
  }
};
</script>