<template>
  <div id="app">
      <div class="container pt-4 mb-3">
        <h5 class="text-primary">Book Management</h5>
        <p class="text-muted ">Here are your books</p>
        <div class="row mt-2">
          <div class="col-11 col-sm-11 col-md-12 col-lg-12">
            <div class="row justify-content-end mr-1 mb-3">
              <button class="btn rounded-pill btn-outline-primary btn-sm" data-toggle="modal" data-target="#addModal" v-on:click="data = {name: '', author: '', copies: '', description: '', category_id: ''}">
                Add Books
              </button>
            </div>
            <div class="card pt-5 pl-5 pr-5 mb-3">
              <div class="d-flex justify-content-end mt-2">
                <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-4">
                  <div class="input-group mb-3 zdefault">
                    <div class="input-group-prepend">
                      <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
                  </div>
                </div>
              </div>
              <b-skeleton-table v-if="initialLoading"
                :rows="4"
                :columns="6"
                :table-props="{ bordered: false, striped: false }"
              ></b-skeleton-table> 
              <div class="table-responsive" v-if="!initialLoading">
                <table class="table table-hover">
                  <caption>Showing {{books.from}} to {{books.to}} of {{books.total}} entries</caption>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">Description</th>
                      <th scope="col">Copies Available</th>
                      <th scope="col">Category</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <div class="spinner-grow loading text-primary" role="status" v-if="isLoading"> 
                      <span class="sr-only">Loading...</span>
                    </div>
                    
                    <tr v-for="(book, i) in books.data" :key="i">
                      <td>{{books.from + (i)}}</td>
                      <td v-if="!isLoading">{{ book.name }}</td>
                      <td v-if="!isLoading">{{ book.author }}</td>
                      <td v-if="!isLoading">{{ book.description }}</td>
                      <td v-if="!isLoading">{{ book.copies }} copies</td>
                      <td v-if="!isLoading">{{ book.category.category }}</td>
                      <td v-if="!isLoading" class="text-nowrap">
                        <a type="button" v-on:click="id = i; data = {...book}" data-toggle="modal" data-target="#editModal">
                        <img
                          src="/images/edit.png"
                          class="mr-2"
                          height="25" /></a>
                        <a type="button" @click.prevent="id = book.id;" data-toggle="modal" data-target="#deleteModal">
                        <img src="/images/delete.png" class="mr-2" height="16"/></a>
                        <a type="button" v-on:click="book_data.book_id = book.id; id = i;" data-toggle="modal" data-target="#borrowModal">
                        <img
                          src="/images/borrow.png"
                          class="cursor-pointer mr-2"
                          height="20"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
               <div class="row justify-content-end mt-3" v-if="books.data">
                <pagination :showDisabled="true"  :data="books" @pagination-change-page="bookSearch"></pagination>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="addModal"  data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add Book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="pl-5 pr-5">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" v-model="data.name" class="form-control" id="name" placeholder="" />
              </div>
              <div class="form-group">
                <label for="author">Author</label>
                <input type="text" v-model="data.author" class="form-control" id="author" placeholder="" />
              </div>
              <div class="form-group">
                <label for="copies">Copies</label>
                <input v-model="data.copies" class="form-control" id="copies" placeholder="" type="number"/>
              </div>
              <div class="form-group">
                <label for="desc">Description</label>
                <input v-model="data.description" class="form-control" id="desc" placeholder="" type="text"/>
              </div>
              <div class="form-group">
                <label for="customSelect">Category</label>
                <select id="customSelect" v-model="data.category_id" name="cars" class="custom-select">
                  <option selected disabled>Please select a category</option>
                  <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
                </select>
              </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-sm btn-primary" v-on:click="saveBook" :disabled="isAdding">
                Add Book
                <div class="spinner-border text-light spinner-border-sm" role="status" v-if="isAdding">
                </div>
              </button>
            </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editModal"  data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Update Book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="pl-5 pr-5">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" v-model="data.name" class="form-control" id="name" placeholder="" />
              </div>
              <div class="form-group">
                <label for="author">Author</label>
                <input type="text" v-model="data.author" class="form-control" id="author" placeholder="" />
              </div>
              <div class="form-group">
                <label for="copies">Copies</label>
                <input v-model="data.copies" class="form-control" id="copies" placeholder="" type="number"/>
              </div>
              <div class="form-group">
                <label for="desc-edit">Description</label>
                <input v-model="data.description" class="form-control" id="desc-edit" placeholder="" type="text"/>
              </div>
              <div class="form-group">
                <label for="customSelect">Category</label>
                <select id="customSelect" v-model="data.category_id" name="cars" class="custom-select">
                  <option selected disabled>Please select a category</option>
                  <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
                </select>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-sm btn-primary" v-on:click="bookUpdate" :disabled="isUpdating">
            Update Book
            <div class="spinner-border text-light spinner-border-sm" role="status" v-if="isUpdating">
            </div>
          </button>
        </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this book?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-danger" v-on:click="bookDelete" :disabled="isDeleting"> 
              Delete 
              <div class="spinner-border text-light spinner-border-sm" role="status" v-if="isDeleting">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>


    <!--- BORROW MODAL --->
    <div class="modal fade" id="borrowModal"  data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Borrow Book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="pl-5 pr-5">
              <div class="form-group">
                <label for="copies">Copies</label>
                <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number"/>
              </div>
              <div class="form-group">
                <label for="customSelect">Patron</label>
                <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
                  <option selected disabled>Please select a patron</option>
                  <option v-for="(patron, i) in allpatrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="returnDate">Return Date</label>
                <date-picker :confirm="true" v-model="book_data.returndate" class="w-100"  :disabled-date="disabledBeforeToday" value-type="format" :format="'YYYY-MM-DD'" type="date"></date-picker>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" :disabled="isBorrowing">Close</button>
            <button type="button" class="btn btn-sm btn-primary" v-on:click="borrowBook" :disabled="isBorrowing">
              Borrow Book
              <div class="spinner-border text-light spinner-border-sm" role="status" v-if="isBorrowing">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import { mapActions, mapGetters, mapState } from "vuex";
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
export default {
  data() {
    return {
      id: '',
      data: {
        name: '', author: '', copies: '', category_id: '', description: ''
      },
      modalId: '',
      book_data: { book_id: '', copies: '', patron_id: ''},
      isLoading: false,
      initialLoading: false,
      search: '',
      isDeleting: false,
      isUpdating: false,
      isBorrowing: false,
      isAdding: false,
    }
  },
  components: {DatePicker},
  async mounted() {
    this.initialLoading = true
    document.title = "Book Management";
    this.getBooks();
    this.getCategories();
    this.isLoading = true;
    await this.getAllPatrons().then(() => {
      this.isLoading = false;
    })
    this.initialLoading = false

  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons", "allpatrons"]),
  },
  methods: {
    ...mapActions("books", ["deleteBook", "storeBook", "updateBook", "getCategories"]),
    ...mapActions("patrons", ["getPatrons", "getAllPatrons"]),
    ...mapActions("borrowed", ["storeBorrowed"]),
    disabledBeforeToday(date){
      let d = new Date()
      d.setDate(d.getDate())
      return date < new Date(d.setHours(0, 0, 0, 0));
    },
    async borrowBook(){
      this.isBorrowing = true
      const res = await this.storeBorrowed({data: this.book_data, index: this.id})
      res.status == 200 ? this.showSuccess('Book borrowed successfully'): this.showError(res.data)
      $('#borrowModal').modal('hide')
      this.isBorrowing = false

    },
    
    async saveBook(){
      this.isAdding = true
      const res = await this.storeBook({...this.data})
      res.status == 200 ? this.showSuccess('Book saved successfully!') : this.showError(res.data)
      this.clearData()
      this.isAdding = false
      $('#addModal').modal('hide')
    },
    async bookDelete(){
      this.isDeleting = true
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
      this.isDeleting = false
      $('#deleteModal').modal('hide')
    },
    async bookUpdate(){
      this.isUpdating = true
      const res = await this.updateBook({index: this.id, data: this.data})
      res.status == 200 ?  this.showSuccess('Book updated successfully!') : this.showError(res.data)
      this.clearData()
      this.isUpdating = false
      $('#editModal').modal('hide')
    },
    showSuccess(msg){
      this.$toast.success(msg);
    },
    clearData(){
      this.data = { name: '', author: '', copies: '', category_id: '', description: ''}
    },
    showError(data){
      for (const key of Object.keys(data)) {
        window.setInterval( this.$toast.error(data[key][0]), 1000); 
      }
    },
    async bookSearch(page = 1){
      if(this.search == ''){
        this.getBooks(page)
      }
      else {
        this.searchBook(page)
      }
    },
    async searchBook(page){
      let data = {
        search: this.search
      }

      this.isSearching = true
      await this.$store.dispatch('books/searchBook', {data: data, page: page})
      this.isSearching = false
    },

    async getBooks(page){
      await this.$store.dispatch('books/getBooks', page)
    },
  },
  watch: {
    search(before, after){
      this.bookSearch()
    },
  }
}
</script>
