<template>
  <div>
   <div class="pt-4 mb-3">
    <div class="d-flex flex-column ml-4">
      <h5 class="text-primary">Borrowed Books Management</h5>
      <p class="text-muted ">Manage your borrowed books below</p>
    </div>
    <div class="d-flex mt-4">
      <div class="col-11 col-sm-11 col-md-6 col-lg-6 mt-3">
        <div class="card bd-callout-danger">
          <div class="card-body">
            <h5 class="font-weight-bold">{{summary.due}}</h5>
            <p>Due Today</p>
            <div class="card-icon">
              <i class="fa fa-book fa-card fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 col-sm-11 col-md-6 col-lg-6 mt-3">
        <div class="card bd-callout-primary">
            <div class="card-body">
            <h5 class="font-weight-bold">{{summary.totalborrowed}}</h5>
            <p>Borrowed Records</p>
            <div class="card-icon">
              <i class="fa fa-reply fa-card fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex  mt-5">
      <div class="col-11 col-sm-11 col-md-12 col-lg-12">
        <div class="card p-5 mb-3 card-shadow">
          <div class="d-flex flex-column mb-5">
            <h5 class="text-primary">Borrowed Books</h5>
            <p class="text-muted ">Here are your borrowed books</p>
          </div>
          <div class="d-flex justify-content-end mt-2">
            <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-4">
              <date-picker @change="borrowedSearch" :confirm="true" v-model="daterange" class="w-100" range  value-type="format" :format="'YYYY-MM-DD'" type="date"></date-picker>
            </div>
            <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-4">
              <div class="input-group mb-3 zdefault">
                <div class="input-group-prepend">
                  <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
              </div>
            </div>
          </div>
          <b-skeleton-table v-if="initialLoading"
            :rows="4"
            :columns="6"
            :table-props="{ bordered: false, striped: false }"
          ></b-skeleton-table> 
          <div class="table-responsive" v-if="!initialLoading">
            <table class="table table-hover">
              <caption>Showing {{borrowedbooks.from}} to {{borrowedbooks.to}} of {{borrowedbooks.total}} entries</caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th scope="col">Borrower</th>
                  <th scope="col">Book</th>
                  <th scope="col">Author</th>
                  <th scope="col" class="text-nowrap">Copies</th>
                  <th scope="col">Borrowed Date</th>
                  <th scope="col" class="text-nowrap">Return Date</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(book, i) in borrowedbooks.data" :key="i">
                  <td>{{borrowedbooks.from + (i)}}</td>
                  <td class="text-nowrap">{{ book.patron.last_name }}, {{book.patron.first_name}}</td>
                  <td>{{ book.book.name }}</td>
                  <td>{{ book.book.author }}</td>
                  <td>{{ book.copies }}</td>
                  <td class="text-nowrap">{{book.created_at | moment}}</td>
                  <td class="text-nowrap">{{book.returndate | returndate}}</td>
                  <td>
                    <a type="button" v-on:click="book_data.borrowed_id = book.id; id = i; data = {...book}; book_data.patron_id = book.patron_id; book_data.book_id = book.book_id; book_data.borroweddate = book.created_at" data-toggle="modal" data-target="#returnModal">
                    <img
                      src="/images/return.png"
                      class="mr-2"
                      height="25" /></a> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-end mt-3" v-if="borrowedbooks.data">
            <pagination :showDisabled="true"  :data="borrowedbooks" @pagination-change-page="borrowedSearch"></pagination>
          </div>
        </div>
      </div>
    </div>
   </div>
   
    <div class="modal fade" id="returnModal"  data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Return Book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="pl-5 pr-5">
              <div class="form-group">
                <label for="copies">Copies (Max: {{data.copies}})</label>
                <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number" required/>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-sm btn-primary" v-on:click.prevent="returnBook" :disabled="isLoading">Return Book</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapActions, mapState} from 'vuex';
import DatePicker from 'vue2-datepicker';
import moment from 'moment'
export default {
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    },
    returndate: function (date) {
      return moment(date).format('MMMM Do YYYY');
    }
  },
  data() {
    return {
      book_data: { borrowed_id: '', book_id: '', copies: '', patron_id: '', borroweddate: ''},
      data: [],
      id: '',
      initialLoading: false,
      isLoading: false,
      search: '',
      daterange: '',
    }
  },
  computed: {
    ...mapState('borrowed', ['borrowedbooks', 'summary'])
  },
  async mounted() {
    this.initialLoading = true
    await this.getBorrowedBooks()
    await this.$store.dispatch('borrowed/getBorrowedSummary')
    this.initialLoading = false
  },
  components: {DatePicker},
  methods: {
    ...mapActions('borrowed', ['getBorrowed', 'returnBorrowedBook']),
    async returnBook(){
      this.isLoading = true
      const res = await this.returnBorrowedBook({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.$toast.success('Book returned successfully')
        $('#returnModal').modal('hide')
      }
      else if(res.status == 404){
        this.$toast.error('Book to be returned doesnt match any from borrowed books');
      }
      else{
        this.showError(res.data)
      }
      this.isLoading = false
    },
    async getBorrowedBooks(page){
      await this.getBorrowed(page)
    },
    async borrowedSearch(page = 1){
      if(this.search == ''){
        if(this.daterange == '' || this.daterange[0] == null){
          this.getBorrowedBooks(page)
        }
        else {
          this.searchBorrowed(page)
        }
      }
      else {
        this.searchBorrowed(page)
      }
    },
    async searchBorrowed(page){
      let data = {
        search: this.search,
        daterange: this.daterange
      }

      this.isSearching = true
      await this.$store.dispatch('borrowed/searchBorrowed', {data: data, page: page})
      this.isSearching = false
    },
    showError(data){
      for (const key of Object.keys(data)) {
        window.setInterval( this.$toast.error(data[key][0]), 1000); 
      }
    }
  },
  watch: {
    search(before, after){
      this.borrowedSearch()
    },
  }
 
}
</script>