<template>
 <div>
   <div class="container pt-3">
    <div class="row mt-4">
        <div class="col-md-6 col-lg-4 mt-3">
          <div class="card bd-callout-success">
            <div class="card-body">
              <h5 class="font-weight-bold">{{date}}</h5>
              <p>{{time}}</p>
              <div class="card-icon">
                <i class="fa fa-clock-o fa-card fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-3">  
          <router-link to="/manage/books" class="card-link">
          <div class="card bd-callout-primary">
            <div class="card-body">
              <h5 class="font-weight-bold">{{data.book_count}}</h5>
              <p>Total Books</p>
              <div class="card-icon">
                <i class="fa fa-book fa-card fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>  
          </router-link>
        </div>  
        <div class="col-md-6 col-lg-4 mt-3">  
        <router-link to="/manage/patron" class="card-link">
        <div class="card bd-callout-secondary ">
          <div class="card-body">
            <h5 class="font-weight-bold">{{data.patron_count}}</h5>
            <p>Total Patrons</p>
            <div class="card-icon">
              <i class="fa fa-users fa-card fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        </router-link>
        </div>
        <div class="col-md-6 col-lg-4 mt-3">
        <router-link to="/manage/borrowed" class="card-link">
        <div class="card bd-callout-success">
          <div class="card-body">
            <h5 class="font-weight-bold">{{data.borrowed_count}}</h5>
            <p>Borrowed Books</p>
             <div class="card-icon">
              <i class="fa fa-reply fa-card fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        </router-link>
        </div>
        <div class="col-md-6 col-lg-4 mt-3">
        <router-link to="/manage/borrowed" class="card-link">
        <div class="card bd-callout-danger">
          <div class="card-body">
            <h5 class="font-weight-bold">{{summary.due}}</h5>
            <p>Due Today</p>
             <div class="card-icon">
              <i class="fa fa-reply fa-card fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        </router-link>
        </div>
        <div class="col-md-6 col-lg-4 mt-3">
        <router-link to="/manage/borrowed" class="card-link">
        <div class="card bd-callout-success">
          <div class="card-body">
            <h5 class="font-weight-bold">{{data.librarian}}</h5>
            <p>Librarians</p>
             <div class="card-icon">
              <i class="fa fa-users fa-card fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        </router-link>
        </div>
    </div>
    

    <div class="row m-0 mt-4 mb-4 ">
      <div class="col-sm-11 col-md-6 col-lg-6 justify-content-center mb-2 mt-2">
        <h5 class="text-primary mb-2 font-weight-bold">Books per Categories</h5>
        <chart-component />
      </div>
      <div class="col-sm-11 col-md-6 col-lg-6 justify-content-center mb-2 mt-2">
        <h5 class="text-primary mb-2 font-weight-bold">Most Borrowed Book</h5>
        <polarchart-component />
      </div>
    </div>


  </div>
 </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import moment from 'moment'
export default {
  data() {
    return {
      date: '',
      time: '',
    }
  },
  async mounted() {
    document.title = "Dashboard"
    setInterval(() =>{
      this.currentdate()
    }, 1000)
    setInterval(() =>{
      this.currenttime()
    }, 1000)
    this.getDashboardData()
    await this.$store.dispatch('borrowed/getBorrowedSummary')

  },
  computed: {
   ...mapState('dashboard', ['data']),
   ...mapState('borrowed', ['summary']),
  },
  methods: {
   ...mapActions('dashboard', ['getLatestData']),

   async getDashboardData(){
    await this.getLatestData()
   },
   currentdate(){
     var a = new Date();
     this.date = moment(a).format(' MMMM D[,] YYYY'); 
   },
   currenttime(){
      var a = new Date();
      this.time =  moment(a).format('hh:mm:ss A'); 
  }
  },

}
</script>
<style >
canvas {
  max-height: 640px !important;
  max-width: 500px !important;
}
</style>