<template>
  <div>
    <Navbar />
    <Sidebar />
    <div class="main">
      <router-view name="dashboard" />
      <router-view name="books" />
      <router-view name="borrowed" />
      <router-view name="librarian" />
      <router-view name="patron" />
      <router-view name="settings" />
      <router-view name="returned" />
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import Navbar from '../../components/Navbar'
import Sidebar from '../../components/Sidenav';
import API from '../../store/base/config'

export default {
  components: { Navbar, Sidebar },
  beforeCreate(){
    const bearer_token = localStorage.getItem('auth') || ''
    API.defaults.headers.common['Authorization'] = `Bearer ${bearer_token}`
  },
  mounted(){
  },
  computed: {
    ...mapState("auth", ["user"]),
  },
  methods: {

  },
};
</script>