<template>
  <div>
   <div class="container pt-5">
      <h5 class="text-primary">Librarian Management</h5>
      <p class="text-muted ">Here are the list of your librarians</p>
      <div class="row mt-5">
        <div class="col-11 col-sm-11 col-md-12 col-lg-12">
          <div class="card p-5 card-shadow">
            <div class="d-flex justify-content-end mt-2">
            <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-4">
              <div class="input-group mb-3 zdefault">
                <div class="input-group-prepend">
                  <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
              </div>
            </div>
           </div>
            <b-skeleton-table v-if="initialLoading"
                :rows="4"
                :columns="8"
                :table-props="{ bordered: false, striped: false }"
              ></b-skeleton-table> 
            <div class="table-responsive" v-if="!initialLoading">
              <table class="table table-hover">
                <caption>Showing {{librarian.from}} to {{librarian.to}} of {{librarian.total}} librarians</caption> 
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact </th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-nowrap">Date Reg</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(lib, i) in librarian.data" :key="i">
                    <td>
                      <avatar class="" :username="lib.fname + ' ' + lib.lname" :rounded="true" :size="40" :color="'#fff'" :lighten="100"></avatar>
                    </td>
                    <td class="text-nowrap">{{ lib.lname }}, {{lib.fname}} {{lib.mname[0]}}</td>
                    <td>{{ lib.gender }}</td>
                    <td>{{ lib.email }}</td>
                    <td>{{ lib.contact_number }}</td>
                    <td>{{ lib.type }}</td>
                    <td class="text-nowrap">{{ lib.created_at | moment }}</td>
                    <td>
                      <a type="button" class="btn btn-primary btn-sm" @click="setAccountType(lib.id, lib.type)">{{lib.type == 'Pending' ? 'Approve' : 'Disapprove'}}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row justify-content-end mt-3" v-if="librarian.data">
              <pagination :showDisabled="true"  :data="librarian" @pagination-change-page="librarianSearch"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import moment from 'moment'
import Avatar from 'vue-avatar'
export default {
  data() {
    return {
      isLoading: false,
      search: '',
      id: '',
      initialLoading: false,
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    }
  },
  components: {Avatar},
  computed: {
    ...mapState('librarian', ['librarian']),
  },
  async mounted() { 
    this.initialLoading = true
    this.isLoading = true
    await this.getLibrarianAccounts().then(() => {
      this.isLoading = false;
    })
    this.initialLoading = false
  },
  methods: {
    ...mapActions('librarian', ['getLibrarianAccounts', 'setAccount']),
    async setAccountType(id, type){
      let data = {
        id: id
      }
      const res = await this.setAccount(data)
      if(res.status == 200){
        if(type == 'Pending') {
          this.$toast.success('Account has been approved')
        }
        else {
          this.$toast.error('Account has been disapproved')
        }
      }
      else {
        this.$toast.error('Something went wrong')
      }
    },
    async getLibrarians(page){
      await this.$store.dispatch('librarian/getLibrarianAccounts', page)
    },
    async librarianSearch(page = 1){
      if(this.search == ''){
        this.getLibrarians(page)
      }
      else {
        this.searchLibrarian(page)
      }
    },
    async searchLibrarian(page){
      let data = {
        search: this.search
      }

      this.isSearching = true
      await this.$store.dispatch('librarian/searchLibrarian', {data: data, page: page})
      this.isSearching = false
    },
  },
  watch: {
    search(before, after){
      this.librarianSearch()
    },
  }
 
}
</script>