<template>
  <div id="app">
    <div class="container pt-4">
      <h5 class="text-primary">Patron Management</h5>
      <p class="text-muted ">Manage your patrons below</p>
      <div class="row mt-2">
        <div class="col-11 col-sm-11 col-md-12 col-lg-12">
          <div class="row justify-content-end mr-1 mb-3">
            <button data-target="#addModal" v-on:click="input = {gender: '', contact_number: '', first_name: '', middle_name: '', last_name: '', email: '' }" data-toggle="modal" class="btn rounded-pill btn-outline-primary btn-sm" >
              Add Patron
            </button>
          </div>
          <div class="card pl-5 pr-5 pt-5 mb-3">
            <div class="d-flex justify-content-end mt-2">
            <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-4">
                <div class="input-group mb-3 zdefault">
                  <div class="input-group-prepend">
                    <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                  <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
                </div>
              </div>
            </div>
            <b-skeleton-table v-if="initialLoading"
              :rows="4"
              :columns="6"
              :table-props="{ bordered: false, striped: false }"
            ></b-skeleton-table> 
            <div class="table-responsive"  v-if="!initialLoading">
              <table class="table table-hover">
                <caption>Showing {{patrons.from}} to {{patrons.to}} of {{patrons.total}} patrons</caption> 
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender </th>
                    <th scope="col">Contact</th>
                    <th scope="col">Email </th>
                    <th scope="col">Registered</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(patron, i) in patrons.data" :key="i">
                    <td>
                      <avatar class="" :username="patron.first_name + ' ' + patron.last_name" :rounded="true" :size="40" :color="'#fff'" :lighten="100"></avatar>
                    </td>
                    <td class="text-nowrap">
                      {{
                        patron.first_name +
                        " " +
                        patron.middle_name +
                        " " +
                        patron.last_name
                      }}
                    </td>
                    <td>{{ patron.gender }}</td>
                    <td>{{ patron.contact_number }}</td>
                    <td>{{ patron.email }}</td>
                    <td class="text-nowrap">{{ patron.created_at | moment }}</td>
                    <td>
                      <a type="button" v-on:click="index = i; input = {...patron}" data-toggle="modal" data-target="#editModal">
                        <img
                          src="/images/edit.png"
                          class="mr-2"
                          height="25" /></a>
                      <a type="button" v-on:click="index = patron.id" data-toggle="modal" data-target="#deleteModal">
                        <img
                          src="/images/delete.png"
                          class="mr-2"
                          height="16"
                      /></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
             <div class="row justify-content-end mt-3" v-if="patrons.data">
              <pagination :showDisabled="true"  :data="patrons" @pagination-change-page="patronSearch"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add Patron</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="pl-5 pr-5" ref="addPatronModal">
              <div class="form-group">
                <label for="AddPatronFirstName">First Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="AddPatronFirstName"
                  placeholder=""
                  v-model="input.first_name"
                />
              </div>
              <div class="form-group">
                <label for="AddPatronMiddleName">Middle Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="AddPatronMiddleName"
                  placeholder=""
                  v-model="input.middle_name"
                />
              </div>
              <div class="form-group">
                <label for="AddPatronLastName">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="AddPatronLastName"
                  placeholder=""
                  v-model="input.last_name"
                />
              </div>
              <div class="form-group">
                <label for="addPatronContactNumber">Contact Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="addPatronContactNumber"
                  placeholder=""
                  v-model="input.contact_number"
                />
              </div>
              <div class="form-group">
                <label for="customSelect">Gender</label>
                <select id="customSelect" v-model="input.gender" name="gender" class="custom-select">
                  <option selected disabled>--Please select your gender --</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="form-group">
                <label for="AddPatronEmail">Email address</label>
                <input
                  type="text"
                  class="form-control"
                  id="AddPatronEmail"
                  placeholder=""
                  v-model="input.email"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" :disabled="isLoading">Close</button>
            <button type="button" class="btn btn-sm btn-primary" v-on:click="savePatron" :disabled="isLoading">Save Patron</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Edit Patron</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="pl-5 pr-5" ref="editPatronModal">
              <div class="form-group">
                <label for="EditPatronFirstName">First Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="EditPatronFirstName"
                  placeholder=""
                  v-model="input.first_name"
                />
              </div>
              <div class="form-group">
                <label for="EditPatronMiddleName">Middle Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="EditPatronMiddleName"
                  placeholder=""
                  v-model="input.middle_name"
                />
              </div>
              <div class="form-group">
                <label for="EditPatronLastName">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="EditPatronLastName"
                  placeholder=""
                  v-model="input.last_name"
                />
              </div>
              <div class="form-group">
                <label for="addPatronContactNumber">Contact Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="addPatronContactNumber"
                  placeholder=""
                  v-model="input.contact_number"
                />
              </div>
              <div class="form-group">
                <label for="customSelect">Gender</label>
                <select id="customSelect" v-model="input.gender" name="gender" class="custom-select">
                  <option selected disabled>--Please select your gender --</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="form-group">
                <label for="EditPatronEmail">Email address</label>
                <input
                  type="text"
                  class="form-control"
                  id="EditPatronEmail"
                  placeholder=""
                  v-model="input.email"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" :disabled="isLoading">Close</button>
            <button type="button" class="btn btn-sm btn-primary" v-on:click="patronUpdate" :disabled="isLoading">Update Patron</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="my-4">Are you sure you want to delete this patron?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" :disabled="isLoading">Close</button>
            <button type="button" class="btn btn-sm btn-danger" v-on:click="patronDelete" :disabled="isLoading">Delete</button>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import moment from 'moment'
import Avatar from 'vue-avatar'
export default {
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    }
  },
  components: {Avatar},
  async mounted() {
    this.initialLoading = true
    document.title = "Patron Management";
    this.isLoading = true
    await this.getPatrons(1).then(() =>  {
      this.isLoading = false
    })
    this.initialLoading = false
  },
  computed: {
    ...mapState('patrons', ['patrons']),
  },
  data() {
    return {
      input: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
        contact_number: '',
        gender: '',
      },
      modalId: '',
      index: "",
      isLoading: false,
      search: '',
      initialLoading: false,
    };
  },
  methods: {
    ...mapActions('patrons', ['getPatrons', 'storePatron', 'deletePatron', 'updatePatron']),
    async savePatron() {
      this.isLoading = true
      const res = await this.storePatron(this.input)
      res.status == 200 ? this.showSuccess('Patron saved successfully!') : this.showError(res.data)
      this.clearFields()
      this.isLoading = false
      $('#addModal').modal('hide')

    },
    async patronDelete() {
      this.isLoading = true
      const res = await this.deletePatron(this.index);
      if(res.status !== 200)
       this.showError(res.data)
       
      $('#deleteModal').modal('hide')
      this.isLoading = false
    },
    async patronUpdate(){
      this.isLoading = true
      const res = await this.updatePatron({data: {...this.input}, index: this.index})
      res.status == 200 ?  this.showSuccess('Patron updated successfully!') : this.showError(res.data)
      $('#editModal').modal('hide')
      this.clearFields()
      this.isLoading = false
    },
    showSuccess(msg){
      this.$toast.success(msg);
    },
    clearFields() {
      this.input.first_name = "";
      this.input.middle_name = "";
      this.input.last_name = "";
      this.input.email = "";
      this.input.gender = "";
      this.input.contact_number = "";
    },
    showError(data){
      for (const key of Object.keys(data)) {
        this.$toast.error(data[key][0]); 
      }
    },
    async getPatronsData(page){
      await this.$store.dispatch('patrons/getPatrons', page)
    },
    async patronSearch(page = 1){
      if(this.search == ''){
        this.getPatronsData(page)
      }
      else {
        this.searchPatrons(page)
      }
    },
    async searchPatrons(page){
      let data = {
        search: this.search
      }

      this.isSearching = true
      await this.$store.dispatch('patrons/searchPatrons', {data: data, page: page})
      this.isSearching = false
    },
  },
 watch: {
    search(before, after){
      this.patronSearch()
    },
  }
};
</script>
