<template>
  <div>
   <div class="pt-4 mb-3">
    <div class="d-flex flex-column ml-4">
      <h5 class="text-primary">Returned Books</h5>
      <p class="text-muted ">Here are the list of returned books</p>
    </div>
    <div class="d-flex mt-4">
      <div class="col-11 col-sm-11 col-md-6 col-lg-6 mt-3">
        <div class="card bd-callout-danger">
          <div class="card-body">
            <h5 class="font-weight-bold">{{summary.due}}</h5>
            <p>Due Today</p>
            <div class="card-icon">
              <i class="fa fa-book fa-card fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 col-sm-11 col-md-6 col-lg-6 mt-3">
        <div class="card bd-callout-primary">
            <div class="card-body">
            <h5 class="font-weight-bold">{{summary.totalreturned}}</h5>
            <p>Returned Records</p>
            <div class="card-icon">
              <i class="fa fa-reply fa-card fa-3x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex  mt-5">
      <div class="col-11 col-sm-11 col-md-12 col-lg-12">
        <div class="card p-5 mb-3 card-shadow">
          <div class="d-flex flex-column mb-5">
            <h5 class="text-primary">Returned Books</h5>
            <p class="text-muted ">Here are your returned books</p>
          </div>
          <div class="d-flex justify-content-end mt-2">
            <div class="col-6 col-sm-5 col-md-5 col-lg-4 col-xl-4">
              <div class="input-group mb-3 zdefault">
                <div class="input-group-prepend">
                  <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <input type="text" v-model="search" class="form-control" id="floatingSearch" placeholder="Search here">
              </div>
            </div>
          </div>
          <b-skeleton-table v-if="initialLoading"
            :rows="4"
            :columns="6"
            :table-props="{ bordered: false, striped: false }"
          ></b-skeleton-table> 
          <div class="table-responsive" v-if="!initialLoading">
            <table class="table table-hover">
              <caption>Showing {{returnedbooks.from}} to {{returnedbooks.to}} of {{returnedbooks.total}} entries</caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th scope="col">Borrower</th>
                  <th scope="col">Book</th>
                  <th scope="col">Author</th>
                  <th scope="col" class="text-nowrap">Copies</th>
                  <th scope="col">Borrowed Date</th>
                  <th scope="col" class="text-nowrap">Returned Date</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(book, i) in returnedbooks.data" :key="i">
                  <td>{{returnedbooks.from + (i)}}</td>
                  <td class="text-nowrap">{{ book.patron.last_name }}, {{book.patron.first_name}}</td>
                  <td>{{ book.book.name }}</td>
                  <td>{{ book.book.author }}</td>
                  <td>{{ book.copies }}</td>
                  <td class="text-nowrap">{{book.created_at | moment}}</td>
                  <td class="text-nowrap">{{book.returndate | returndate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-end mt-3" v-if="returnedbooks.data">
            <pagination :showDisabled="true"  :data="returnedbooks" @pagination-change-page="returnedSearch"></pagination>
          </div>
        </div>
      </div>
    </div>
   </div>
   
  </div>
</template>
<script>
import {mapActions, mapState} from 'vuex';
import moment from 'moment'
export default {
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    },
    returndate: function (date) {
      return moment(date).format('MMMM Do YYYY');
    }
  },
  data() {
    return {
      id: '',
      initialLoading: false,
      isLoading: false,
      search: '',
    }
  },
  computed: {
    ...mapState('returned', ['returnedbooks', 'summary'])
  },
  async mounted() {
    this.initialLoading = true
    await this.getReturnedBooks()
    await this.$store.dispatch('returned/getReturnedSummary')
    this.initialLoading = false
  },
  methods: {
    ...mapActions('returned', ['getReturnedBooks']),
   
    async getReturned(page){
      await this.getReturnedBooks(page)
    },
    async returnedSearch(page = 1){
      if(this.search == ''){
        this.getReturned(page)
      }
      else {
        this.searchReturned(page)
      }
    },
    async searchReturned(page){
      let data = {
        search: this.search
      }

      this.isSearching = true
      await this.$store.dispatch('returned/searchReturned', {data: data, page: page})
      this.isSearching = false
    },
    showError(data){
      for (const key of Object.keys(data)) {
        window.setInterval( this.$toast.error(data[key][0]), 1000); 
      }
    }
  },
  watch: {
    search(before, after){
      this.returnedSearch()
    },
  }
 
}
</script>