<template>
  <div>
   <div class="container pt-3">
      <h6 class="text-muted">Account Settings</h6>
      <div class="row mt-4">
        <div class="col-md-5 col-lg-3">
          <form>
          <div class="form-group">
            <label for="">First Name</label>
            <input type="text" aria-label="first name" v-model="user.fname" class="form-control" aria-describedby="first name input field">
          </div>
          <div class="form-group">
            <label for="">Middle Name</label>
            <input type="text" aria-label="middle name" v-model="user.mname" class="form-control" aria-describedby="middle name input field">
          </div>
          <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" aria-label="last name" v-model="user.lname" class="form-control" aria-describedby="last name input field">
          </div>
          <div class="form-group">
            <label for="">Contact Number</label>
            <input type="text" aria-label="contact number" v-model="user.contact_number" class="form-control" aria-describedby="contact number input">
          </div>
          </form>
        </div>
        <div class="col-md-5 col-lg-3">
          <form>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" aria-label="email" v-model="user.email"  class="form-control" aria-describedby="email input field">
          </div>
          <div class="form-group">
            <label for="">Gender</label>
            <select id="customSelect" v-model="user.gender"  name="gender" class="custom-select">
              <option selected disabled>Please select your gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" v-model="password" aria-label="password" class="form-control" aria-describedby="password input field">
          </div>
          <div class="row justify-content-end mr-1">
            <a type="button" class="btn btn-sm btn-primary" @click="updateUserAccount">Update <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
          </div>
          </form>
        </div>
      </div>
   </div>
  </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'

export default {
  data() {
    return {
      password: ''
    }
  },
  computed: {
    ...mapState("auth", ["user"]),

  },
  methods: {
    ...mapActions('auth', ['updateAccount']),

    async updateUserAccount(){
      if(this.password != '') {
        this.user['password'] = this.password
      }
      console.log(this.user)
      await this.updateAccount(this.user).then(res => {
        if(res.status == 200){
          this.$toast.success('Account information updated successfully!')
        }
      })
    }
  }
}
</script>